<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    
      <img src="../../assets/logo2.png" class="logo"    alt=""><br>
     
    <h1>SEE MORE AND ENJOY OUR HOTEL IF YOU ARE INTRESTED BOOK NOW</h1><br><br><br><br><br>
    <a href=""><button class="btn btn-success" id="button">you can back here </button></a>
    <div class="gallery">
        <img src="../../assets/chumba1.jpg" alt="Image 1">
        <img src="../../assets/chumba2.jpg" alt="Image 2">
        <img src="../../assets/chumba3.jpg" alt="Image 3">
        <img src="../../assets/chumba4.jpg" alt="Image 1">
      </div>
      <div class="gallery">
        <img src="../../assets/chumba5.jpg" alt="Image 1">
        <img src="../../assets/chumba6.jpg" alt="Image 2">
        <img src="../../assets/chumba7.jpg" alt="Image 3">
        <img src="../../assets/chumba8.jpg" alt="Image 1">
      </div>
      <div class="gallery">
        <img src="../../assets/chumba9.jpg" alt="Image 1">
        <img src="../../assets/chumba10.jpg" alt="Image 2">
        <img src="../../assets/chumba12.jpg" alt="Image 3">
        <img src="../../assets/chumba13.jpg" alt="Image 1">
      </div>
      <div class="gallery">
        <img src="../../assets/chumba15.jpg" alt="Image 1">
        <img src="../../assets/chumba14.jpg" alt="Image 2">
        <img src="../../assets/chumba15.jpg" alt="Image 3">
        <img src="../../assets/chumba16.jpg" alt="Image 1">
      </div>
      <div class="gallery">
        <img src="../../assets/17.jpg" alt="Image 1">
        <img src="../../assets/18.jpg" alt="Image 2">
        <img src="../../assets/19.jpg" alt="Image 3">
        <img src="../../assets/pic1.jpg" alt="Image 3">
      </div>
      <div class="gallery">
        <img src="../../assets/21.jpg" alt="Image 1">
        <img src="../../assets/chumba10.jpg" alt="Image 2">
        <img src="../../assets/17.jpg" alt="Image 3">
        <img src="../../assets/bar.jpg" alt="Image 1">
      </div>
      <div class="gallery">
        <img src="../../assets/maua.jpg" alt="Image 1">
        <img src="../../assets/swiming.jpg" alt="Image 2">
        <img src="../../assets/swimming2.jpg" alt="Image 3">
        <img src="../../assets/ukuta.jpg" alt="Image 1">
      </div>
      <div class="gallery">
        <img src="../../assets/luxury room.jpg" alt="Image 1">
        <img src="../../assets/deluxury.jpg" alt="Image 2">
        <img src="../../assets/chumba10.jpg" alt="Image 3">
        <img src="../../assets/bar.jpg" alt="Image 1">
      </div>
      <div class="gallery">
        <img src="../../assets/pic3kitanda.jpg" alt="Image 1">
        <img src="../../assets/swiming.jpg" alt="Image 2">
        <img src="../../assets/swimming2.jpg" alt="Image 3">
        <img src="../../assets/ukuta.jpg" alt="Image 1">
      </div>
</body>
</html>